@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;
@use "../../scss/typography" as *;


.entity-metadata {
  margin-top: $space-lg;
  border-top: $border-width-line solid $color-separator;
  border-bottom: $border-width-line solid $color-separator;

  h2 {
    margin-top: 0;
  }

  .entity-metadata__group {
    border-bottom: $border-width-line solid $color-separator;
    padding: $space-lg 0;

    &:last-child {
      border-bottom: none;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .entity-metadata__item {
    width: 100%;

    &:not(:first-child) {
      padding-top: $space-sm;
    }

    &:not(:last-child) {
      padding-bottom: $space-sm;
    }

    @media (min-width: $breakpoint-small) {
      display: flex;
      align-items: baseline;

      h3 {
        flex: 0 0 15rem;
      }
    }

    ul {
      margin: 0;
      padding-left: 1.25rem;

      li {
        @include typography-dark-18-semibold;
        word-break: break-word;

        &:not(:first-child) {
          margin-top: $space-sm;
        }
      }
    }

    h3 {
      @include typography-lighter-16-semibold;
      margin: 0;
    }

    a {
      @include typography-dark-18-semibold;
      @include transition-default(color);
      display: inline-block;
      text-decoration: underline;

      &:hover {
        color: $color-primary;
      }

      &.link:not(:last-child) {
        margin-right: $space-md;
      }
    }

    p {
      @include typography-dark-18-semibold;
      margin: 0;
      word-break: break-word;
    }

    .show-more-link {
      @include typography-primary-14;
      margin-top: $space-md;
      margin-right: 4px;
      text-decoration: none;
    }
  }

  .entity-metadata__group__title + .entity-metadata__item {
    padding-top: 0;
  }
}
