@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/typography";


.entity-metadata {
  &::after {
    content: '';
    display: table;
    clear: both;
  }

  .entity-metadata__item {
    float: left;
    width: 100%;
    padding: $space-md 0;
    border-bottom: $border-width-line solid $color-separator;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }

    &--sm {
      width: 50%;

      &:nth-child(2) {
        padding-top: 0;
      }
    }

    ul {
      margin: 0;
      padding-left: 1.25rem;

      li {
        @include typography-dark-18-semibold;
        word-break: break-word;
        margin-top: $space-sm;
      }
    }

    h3 {
      @include typography-lighter-16-semibold;
      margin: 0;
      white-space: nowrap;
    }

    a {
      @include typography-dark-18-semibold;
      @include transition-default(color);
      display: inline-block;
      text-decoration: underline;

      &:hover {
        color: $color-primary;
      }

      &.link:not(:last-child) {
        margin-right: $space-md;
      }
    }

    p {
      @include typography-dark-18-semibold;
      margin: 0;
      word-break: break-word;

      &.download-links {
        a {
          margin-right: $space-md;
        }
      }
    }

    .show-more-link {
      @include typography-primary-14;
      margin-top: $space-md;
      margin-right: 4px;
      text-decoration: none;
    }
  }
}
