@use "../../scss/variables" as *;
@use "../../scss/typography" as *;

.metadata-schemas-import {
  .item-indented {
    margin-left: 2rem
  }

  .item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      color: $color-primary;
    }

    label:hover, a:hover {
      color: $color-primary-lighter;
      cursor: pointer;
    }

    label {
      margin-bottom: 0;
    }

    a {
      @include typography-primary-14;
    }

    .badge {
      margin-left: $space-xs;
    }
  }

  .prism-editor__code {
    background: $color-background;
  }
}
