@use "../variables" as *;
@use "../mixins" as *;
@use "../typography" as *;


.form {
  &--inline {
    @media (min-width: $breakpoint-small) {
      display: flex;
      align-items: flex-start;
      margin-bottom: 3rem;

      .form__group {
        margin: 0 $space-lg;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        .btn {
          margin-top: 1.5rem;
        }
      }
    }
  }

  &--search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
    gap: $space-sm;

    .form-control {
      display: inline-block;
      width: auto;
    }
  }

  &__group {
    margin-bottom: $space-lg;

    label {
      @include typography-default-14-bold;
      display: block;
      margin-bottom: $space-xs;

      &.required {
        &::after {
          @include typography-danger-14;
          content: "*";
        }
      }
    }

    &__input-item {
      margin-bottom: $space-sm;
    }

    & > input, &__input-item input,
    & > select,
    & > textarea,
    .input-field,
    .version-input input
    {
      @include typography-default-18;
      padding: $space-xs 0;
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-bottom: 2px solid $color-text-light;
      outline: none;

      &:disabled {
        cursor: not-allowed;
        color: $color-text-lighter;
        border-bottom-color: $color-separator;
      }
    }

    &__xor-options {
      display: flex;

      label {
        @include typography-default-14;
        cursor: pointer;
        margin-right: $space-md;
      }
    }

    input::placeholder, textarea::placeholder {
      color: $color-text-light;
    }

    textarea {
      min-height: 4rem;
      height: 6rem;
    }

    select {
      background: none;
      border-radius: 0;
      -webkit-appearance: none;
    }

    .v-select {
      border-bottom: 2px solid $color-text-light;

      .vs__selected, .vs__search {
        @include typography-default-18;
        padding: 0;
        margin: 0;
      }
    }

    .version-input {
      display: flex;

      input {
        max-width: 4rem;
        margin-right: .5rem;
      }
    }

    .autocomplete-wrapper {
      position: relative;

      .autocomplete-value {
        @include typography-default-18;
        border-bottom: 2px solid $color-text-light;
        padding: $space-xs 0;
        position: relative;

        .clear {
          position: absolute;
          right: 5px;
          top: 50%;
          transform: translateY(-50%);
          @include typography-danger-14;
        }
      }

      .autocomplete-options {
        @include border-radius($border-radius-small);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border: 1px solid $color-text-light;
        position: absolute;
        left: 0;
        right: 0;
        background: $color-light;
        margin: 0;
        padding: 0;
        max-height: 250px;
        overflow-y: auto;
        z-index: 10;

        li {
          list-style-type: none;
          padding: $space-xs $space-sm;
          cursor: pointer;

          &:hover {
            background: $color-background-highlighted;
          }
        }
      }

      .uri {
        color: $color-text-lighter;
      }
    }

    .invalid-feedback {
      display: none;
    }

    .input-wrapper {
      width: 100%;
    }

    &__suggestions {
      @include typography-light-14;
      margin-top: $space-xs;

      a {
        display: inline-block;
        margin-left: $space-sm;
      }
    }

    &--error, &__input-item--error {
      input, select, textarea, .input-field, .v-select {
        border-bottom-color: $color-danger;
      }

      .invalid-feedback {
        @include typography-danger-14;
        display: block;
        margin: $space-xs 0;
      }
    }

    &--fill {
      flex-grow: 1;
    }
  }

  .field-description {
    @include typography-lighter-14;
    margin-top: .25rem;
    margin-bottom: 0;
  }
}
