@use "../variables" as *;

.item-list-nav {
  margin-top: $space-lg;
  margin-bottom: -$space-md;
}

.item-list {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $space-lg;
    margin-bottom: $space-sm;

    h2 {
      margin: 0;
    }
  }

  &__empty {
    color: $color-text-light;
  }

  .nav-tabs + & {
    .item-list__item:first-child {
      border-top: none;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: $space-md 0;
    border-top: 1px solid $color-separator;

    &:last-child {
      border-bottom: 1px solid $color-separator;
    }

    &--frameless {
      border: none !important;
    }

    &--simple {
      flex-wrap: nowrap;

      .content {
        word-break: break-all;
        margin-right: 3rem;
      }

      .actions {
        white-space: nowrap;
      }
    }

    &__control {
      color: $color-text-default !important;
      width: 2rem;
      text-align: center;
    }

    &__content {
      margin-left: $space-md;
      flex-grow: 1;

      &__row {
        display: flex;
        align-items: center;

        .badge {
          margin-left: $space-sm;

          &-light {
            background: $color-background-highlighted;
          }
        }

        .membership-badge {
          margin-left: $space-sm;
        }

        a {
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .item-list {
      flex-basis: 100%;
      margin-left: 4.5rem;
      margin-top: $space-xs;
      margin-bottom: -$space-md;

      &__item {
        position: relative;

        &:first-child {
          border-top: none;
        }

        &:last-child {
          border-bottom: none;

          &::after {
            height: 2.25rem;
            top: 0;
          }
        }

        &::before, &::after {
          content: ' ';
          position: absolute;
          margin-left: calc(-1.25rem - 2px);
        }

        &::before {
          border-top: 3px solid $color-text-light;
          top: 2.25rem;
          width: 1rem;
          height: 0;
        }

        &::after {
          border-left: 3px solid $color-text-light;
          top: 0;
          bottom: -1px;
        }
      }
    }
  }
}
