@use "../../scss/typography" as *;
@use "../../scss/variables" as *;

.footer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;

  &__inner {
    width: 100%;
    margin-top: $footer-margin-top;
    border-top: $border-width-line solid $color-separator;
  }

  &__container {
    max-width: $container-max-width;
    min-height: $footer-min-height;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    padding: 0 $container-padding;
    text-align: center;
  }

  &__separator {
    @include typography-default-16-semibold;
    margin: 0 $space-sm;
  }
}
