@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/typography";

.selected-query {
  @include border-radius($border-radius-default);
  padding: $space-md;
  margin-bottom: $space-md;

  p {
    margin-bottom: $space-xs;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.sparql {
  @include border-radius($border-radius-default);
  background: $color-background-highlighted;
  padding: $space-md;
  margin-bottom: $space-md;

  textarea {
    @include typography-mono-14;
    border-color: $color-separator;

    &.graph-patterns {
      margin-left: 2rem;
      width: calc(100% - 2rem)
    }
  }


  pre {
    margin: 0;
  }
}

.card-body-saved-queries {
  padding: 0;

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      cursor: pointer;
      padding: .5rem $space-md;

      &:hover {
        background: $color-background-highlighted;
      }
    }
  }
}
