@use "../../scss/variables" as *;

.entity-settings {
  &__section {
    margin: $space-lg 0 $space-xl 0;
  }

  .item-list__item__actions {
    @media (max-width: $breakpoint-small - 1) {
      width: 100%;
      margin-top: $space-sm;
      display: flex;
      justify-content: space-between;
    }
  }
}
