@use "../../scss/variables" as *;
@use "../../scss/typography" as *;


.page {
  width: 100%;
  max-width: $container-max-width;
  padding: 0 $container-padding;
  margin: auto;
  box-sizing: border-box;

  &__title {
    @media (min-width: $breakpoint-small) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-left: $space-lg;
    margin-top: $space-md;

    @media (max-width: $breakpoint-small - 1) {
      margin-left: 0;
      margin-bottom: $space-lg;
    }

    .membership-badge {
      margin-right: 0.75rem;
    }

    & > a:not(:first-child) {
      margin-left: 1.5rem;
    }
  }

  &__content-wrapper {
    @media (min-width: $breakpoint-small) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__column {
    @media (min-width: $breakpoint-small) {
      width: 32%;
    }
  }

  &__content {
    @media (min-width: $breakpoint-small) {
      width: 63%;
    }

    .description {
      @include typography-default-18;
      margin: 0;
      text-align: justify;

      @media (max-width: $breakpoint-small - 1px) {
        margin: $space-lg 0;
      }
    }

    .external-links {
      margin-top: $space-md;
      margin-bottom: 0;
    }
  }

  &--content-only {
    .page__content {
      width: 100%;
    }
  }

  &--small {
    max-width: $container-small-max-width;
  }
}
