@use "../../scss/variables" as *;
@use "../../scss/typography" as *;


.status-flash {
  margin: $space-sm 0;

  & > div {
    width: 100%;
    max-width: $container-max-width;
    margin: auto;
    box-sizing: border-box;
  }

  & > &--large {
    @include typography-default-32-bold;
    max-width: $container-small-max-width;
    margin-top: $space-lg;
  }

  &__alert {
    border-left: 5px solid $color-text-default;
    color: $color-text-default;
    background: $color-background-highlighted;
    padding: $space-sm $space-md $space-sm $space-sm;

    &--success {
      color: $color-success;
      background: $color-success-light;
      border-left-color: $color-success;
    }

    &--danger {
      color: $color-danger;
      background: $color-danger-light;
      border-left-color: $color-danger;
    }

    &--warning {
      color: $color-warning;
      background: $color-warning-light;
      border-left-color: $color-warning;
    }
  }
}
