@import "variables";
@import "mixins";
@import "typography";

h1 {
  @include typography-default-32-bold;
  margin-top: $space-md;
  margin-bottom: $space-md;
}

h2 {
  @include typography-default-24-bold;
  margin-top: $space-lg;
  margin-bottom: $space-md;
}

h3 {
  @include typography-default-18-semibold;
  margin-top: $space-md;
  margin-bottom: $space-sm;
}

body {
  background: $color-background;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

a {
  cursor: pointer;
  color: $color-primary;

  &:hover {
    color: $color-primary-lighter;
  }
}

.color-danger {
  color: $color-danger;

  &:hover {
    color: $color-danger-lighter;
  }
}
