@use "sass:color";
@use "custom/variables" as *;

// Colors
$color-primary: #00518E !default;
$color-primary-lighter: color.adjust($color-primary, $lightness: 10%) !default;
$color-primary-darker: color.adjust($color-primary, $lightness: -10%) !default;
$color-light: #FFFFFF !default;
$color-complementary: #EFC700 !default;
$color-text-default: #4A4A4A !default;
$color-text-lighter: #9B9B9B !default;
$color-text-light: #ABABAB !default;
$color-text-dark: #000000 !default;
$color-background: #FFFFFF !default;
$color-background-highlighted: #F1F1F1 !default;
$color-background-primary: #BFD4E3 !default;
$color-separator: #DCDCDC !default;
$color-danger: #900 !default;
$color-danger-lighter: color.adjust($color-danger, $lightness: 10%) !default;
$color-danger-light: color.adjust($color-danger, $lightness: 65%) !default;
$color-warning: #856404 !default;
$color-warning-light: color.adjust($color-warning, $lightness: 65%) !default;
$color-success: #090 !default;
$color-success-light: color.adjust($color-success, $lightness: 65%) !default;
$cyan: #0DCAF0 !default;

// Fonts
$font-family: 'Open Sans', sans-serif !default;
$font-weight-bold: 700 !default;
$font-weight-semibold: 600 !default;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


// Spacing
$space-xs: .25rem !default;
$space-sm: .75rem !default;
$space-md: 1rem !default;
$space-lg: 2.25rem !default;
$space-xl: 4.5rem !default;


// Borders
$border-radius-small: .25rem !default;
$border-radius-default: .625rem !default;
$border-radius-full: 10rem !default;
$border-width-line: 1px !default;


// Responsive breakpoints
$breakpoint-small: 960px !default;


// Container
$container-max-width: 1200px !default;
$container-padding: $space-md;
$container-small-max-width: 960px !default;


// Header
$header-height: 100px !default;
$header-logo-url: '/assets/fair-logo.png' !default;
$header-logo-width: 97px !default;
$header-logo-height: 34px !default;
$header-logo-indent: 25px !default;
$header-search-width: 300px !default;
$header-search-height: 2.5rem !default;
$header-search-input-padding-left: 40px !default;
$header-search-input-padding-right: 20px !default;


// Breadcrumbs
$breadcrumbs-height: 55px !default;


// Footer
$footer-min-height: 100px !default;
$footer-margin-top: 3rem !default;


// Separator
$separator-colorful-height: 10px !default;
